@charset "utf-8";
/* CSS Document */
.header {
	background-color: white;
	height: 15vh;
	padding: 5px 10px;
}
.header img{
	float: left;
	padding: 5px;
	width: 150px;
}
.header ul{
	list-style-type:none;
	padding: 0px 100px;
	padding-left: 20%;
	font-size: 40px;
}
.header ul li{
	display: inline;
	padding: 0px 20px;
}
.header input{
	float: right;
	padding: 10px 10px;
	background-color: transparent;
	border: none;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 15px;
}
.header input:hover{
	background-color: dodgerblue;
	color: white;
	border: none;
}
.banner{
	background-image: url("Camera-Hikvision-DS-2CE16F1T-IT5-3.jpg");
	height: 85vh;
	text-align: left;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner .noidung{
	padding: 10% 10%;
	color: white;
	font-size: 50px;
}
.sanpham{
	display: flex;
	justify-content: space-around;
}
.sanpham .item{
	width: 15%;
	padding: 5px;
}
.sanpham .item img{
	width: 100%;
	border: outset;
}
.sanpham .item h3{
	padding: 5px 0; 
}
.sanpham h1{
	padding: 10px;
	color: blue;
	float: left;
}
.giaiphap{
	display: flex;
	justify-content: space-around;
}
.giaiphap .item{
	width: 20%;
}
.giaiphap .item img{
	width: 100%;
	height: 70%;
	border: outset;
}
.giaiphap .item h3{
	padding: 10px 0;
	padding-bottom: 10px;
	text-align: center;
}
.giaiphap h1{color: blue}
.tintuc h1{color: blue}
.tintuc .luachon{
	height: 150px;
}
.tintuc .luachon img{
	float: left;
	height: 100%;
	width: 250px;
	padding: 0 5px;
}
.tintuc .luachon p{
	font-size: 20px;
}
.tintuc .tinhieu{
	height: 150px;
}
.tintuc .tinhieu img{
	float: left;
	height: 100%;
	width: 250px;
	padding: 0 5px;
}
.tintuc .tinhieu p{
	font-size: 20px;
}
.tintuc .cctv{
	height: 150px;
}
.tintuc .cctv img{
	float: left;
	height: 100%;
	width: 250px;
	padding: 0 5px;
}
.tintuc .cctv p{
	font-size: 20px;
}